-load compress
-compress js
    script(type='text/javascript', src=STATIC_URL + 'components/jquery/jquery.min.js')
    script(type='text/javascript', src=STATIC_URL + 'components/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src=STATIC_URL + 'js/main.js')
script
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
